# Build Tools
setuptools<70.0.0
wheel
Cython<3.0

# Core AI Stack (3.10 Stability Pair)
numpy==1.23.4
torch==1.13.0
torchdata==0.5.0   # <--- Updated to match Torch 1.13
torchtext==0.14.0  # <--- Updated to match Torch 1.13

# Peripheral Stack
pandas==1.3.5
spacy==3.2.0
altair==4.1.0
jupytext==1.13.0
flake8==4.0.1
black==22.3.0
GPUtil==1.4.0
wandb==0.12.11